<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="main">
      <div class="logo-wrapper">
        <img class="logo" src="images/toplist.png"></img>
      </div>
      <div class="title">
        <h1>Toplist</h1>
        <h2>{{this.title}}</h2>
      </div>
      <div class="list">
        {{#each toplist}}
          <div class="list-item">
            <img src="{{this.avatar}}" class="list-item-icon"></img>
            <div class="list-item-text">
              <h3 class="list-item-title">{{this.username}}</h2>
              <p class="list-item-description">{{this.experience}} Experience</p>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>
