/***** FONTS *****/

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Regular.woff') format('woff'),
    url('fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  src: url('fonts/Raleway-Medium.woff') format('woff'),
    url('fonts/Raleway-Medium.ttf') format('truetype');
}

/***** TYPOGRAPHY *****/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2 {
  font-size: 150px;
  word-break: break-all;
}

h2 {
  margin-bottom: 70px;
}

.subtitle {
  font-size: 40px;
  margin-bottom: 0px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

p,
td,
strong {
  font-size: 22px;
}

p, strong {
  max-width: 700px;
  line-height: 1.4em;
}

/***** GENERAL *****/

html {
  scroll-behavior: smooth;
}

body {
  background-color: #4E2346;
  color: white;
  margin: 0;
  font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif
}

/***** HEADER & FOOTER *****/

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo-container,
header nav,
footer {
  padding: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

header nav {
  font-size: 25px;
}

nav a {
  padding: 0 10px;
}

/***** CONTENT *****/

main {
  min-height: 100vh;
}

main section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-container {
  margin-top: 30px;
}

.icon-container > * {
  padding: 0px 10px
}

.icon {
  height: 50px;
}

table {
  border-collapse: collapse;
  text-align: left;
}

table th,
table td {
  border-bottom: 1px solid white;
  padding: 25px 40px;
}


table tr:last-child td {
  border-bottom: none;
}

/***** IMPRESSUM *****/

.impressum {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.impressum h1 {
  font-size: 60px;
  margin-top: 150px;
  margin-bottom: 50px;
}

.impressum h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

.impressum p,
.impressum strong {
  font-size: 16px;
}

.content {
  width: 700px;
  max-width: 100%;
}
